body {
  margin: 0;
}

.center {
  /*absolut center*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.l-header {
  background: #222;
  height: 20vh;
}

.l-content {
  background: #333;
  height: 60vh;
}

.l-footer {
  background: #444;
  height: 20vh;

}

.radar {
  --radar-color: rgb(82, 249, 107);
  --background-radar: rgb(1, 33, 1);

  width: 290px;
  height: 290px;
  display: flex;
  position: relative;
  border: 15px solid rgb(168, 166, 166);
  border-radius: 100%;
  background-color: var(--background-radar);
  
  /* background-image: radial-gradient(circle,
    var(--background-radar) 10%, 
    var(--radar-color) 5%, 
    var(--background-radar) 20%,
    var(--radar-color) 15%, 
    var(--background-radar) 30%, 
    var(--radar-color) 25%,
    var(--background-radar) 40%, 
    var(--radar-color) 35%,
    var(--background-radar) 50%); */
}

.radar .radar-container {
  width: 255px;
  height: 255px;
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
}

/* .radar .radar-container .circle1 {
  width: 250px;
  height: 250px;
  border: 3px solid var(--radar-color);
  border-radius: 100%;
  position: absolute;
}

.radar .radar-container .circle2 {
  width: 180px;
  height: 180px;
  border: 3px solid var(--radar-color);
  border-radius: 100%;
  position: absolute;
}

.radar .radar-container .circle3 {
  width: 110px;
  height: 110px;
  border: 3px solid var(--radar-color);
  border-radius: 100%;
  position: absolute;
}

.radar .radar-container .circle4 {
  width: 40px;
  height: 40px;
  border: 3px solid var(--radar-color);
  border-radius: 100%;
  position: absolute;
} */

.radar .radar-container .circle .line1 {
  width: 100%; 
  transform: rotate(90deg) translate(115px, -1px); 
  border: 1px solid var(--radar-color);
}

.radar .radar-container .circle .line2 {
  width: 100%; 
  transform: rotate(0deg) translateY(108px); 
  border: 1px solid var(--radar-color);
}

.radar .radar-container .circle .line3 {
  width: 100%; 
  transform: rotate(45deg) translate(69px, 68px); 
  border: 1px solid var(--radar-color);
}

.radar .radar-container .circle .line4 {
  width: 100%; 
  transform: rotate(-45deg) translate(-61px, 63px); 
  border: 1px solid var(--radar-color);
}

.radar .radar-container .radar-light {
  position: absolute;
  width: 50%;
  height: 50%;

  border-right: 2px solid var(--radar-color);
  background: linear-gradient(225deg, var(--radar-color), transparent, transparent);
  
  animation: 5s radarAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: right bottom;
  z-index: 1;
}

@keyframes radarAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}